*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.main-body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.ttt-main-cont {
    width: 20rem;
    height: 20rem;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.grid-child {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.game-msg {
    font-size: 1.5rem;
    text-align: center;
}

.reset-btn {
    width: 10rem;
    height: 3rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
}
